{{ ansible_managed | comment }}

# Service Settings
Port {{ ssh_port }}
AddressFamily {{ ssh_family }}
{% for address in ssh_listen_addresses %}
ListenAddress {{ address }}
{% endfor %}

# Host keys
{% for hostkey in ssh_hostkeys %}
HostKey /etc/ssh/ssh_host_{{ hostkey }}_key
{% endfor %}

# Logging
SyslogFacility {{ ssh_syslogfacility }}
LogLevel {{ ssh_loglevel }}

# Authentication
AuthenticationMethods {{ ssh_methods | join(',') }}
PermitRootLogin {{ ssh_rootlogin }}
PasswordAuthentication {{ ssh_passauth }}
PubkeyAuthentication {{ ssh_keyauth }}
UsePAM {{ ssh_usepam }}

# Banner
Banner /etc/ssh/banner

# Allowed Groups
{% for group in ssh_groups|default([]) %}
AllowGroups "{{ group }}"
{% endfor %}

# Configure authorized keys command
{% if ssh_authorized_command is defined %}
AuthorizedKeysCommand {{ ssh_authorized_command }}
AuthorizedKeysCommandUser {{ ssh_authorized_command_user }}
{% endif %}

{% if ssh_authorized_file is defined %}
AuthorizedKeysFile {{ ssh_authorized_file }}
{% endif %}

{% if ssh_sftp is defined %}
Subsystem sftp {{ ssh_sftp }}
{% endif %}
